<html>
<head>
	<title>dynamic re-styling of CSS grid through JS</title>
	<meta charset = "UTF-8">
	<script src="index.js"></script>
	<link href="index.css" rel="stylesheet">
</head>

<body>
  <article>
    <head>
      <h1>
        dynamic re-styling of CSS grid depending on the column count through JS.
      </h1>
      <h2>
        column count and cell width can vary arbitrarily.
      </h2>
    </head>

    <p>
      Colors are white/green with an odd number of columns,<br>
      and rose/green with an even number of columns.
    </p>
    <p>
      1st column's cells are blue-bordered,
      and if more than 1 column,
      last column's cells are red-bordered
    </p>
    <p>
      Column count:&nbsp;
      <span id="column-count">uncounted</span>
    </p>
  </article>

  <main>
    <div class="cell">a</div>
    <div class="cell">b</div>
    <div class="cell">c</div>
    <div class="cell">d</div>
    <div class="cell">e</div>
    <div class="cell">f</div>
    <div class="cell">g</div>
    <div class="cell">h</div>
    <div class="cell">i</div>
    <div class="cell">j</div>
    <div class="cell">k</div>
    <div class="cell">l</div>
    <div class="cell">m</div>
    <div class="cell">n</div>
    <div class="cell">o</div>
    <div class="cell">p</div>
    <div class="cell">q</div>
    <div class="cell">r</div>
    <div class="cell">s</div>
    <div class="cell">t</div>
    <div class="cell">u</div>
    <div class="cell">v</div>
    <div class="cell">w</div>
    <div class="cell">x</div>
    <div class="cell">y</div>
    <div class="cell">z</div>
  </main>

</body>

</html>
