/*
flex list with simple reactive positionnement:
|----------------------------------- .list -------------------------------|
|xxx .list-title xxx                                                      |
|xxx .list-about xxx                                                      |
| |--------------------------- .list-container -------------------------| |
| | |---- .list-item ---|  |---- .list-item ---|  |---- .list-item ---| | |
| | |-------------------|  |-------------------|  |-------------------| | |
| |                                                                     | |
| | |---- .list-item ---|  |---- .list-item ---|                        | |
| | |-------------------|  |-------------------|                        | |
| |                                                                     | |
| |---------------------------------------------------------------------| |
|------------------------------------------------------- -----------------|

|----------------------------------- .list -------------------------------|
|xxx .list-title xxx                                                      |
|xxx .list-about xxx                                                      |
| |--------------------------- .list-container -------------------------| |
| | | ----------------- .list-item --------------|                      | |
| | |             |--.list-item-content-vertic--||                      | |
| | |             |          subitem1           ||                      | |
| | | item1 item2 |          subitem2           ||                      | |
| | |             |-----------------------------||                      | |
| | |--------------------------------------------|                      | |
| |                                                                     | |
| |---------------------------------------------------------------------| |
|------------------------------------------------------- -----------------|

(↑see here the facultative vertical-flex container class «.list-item-content-vertic »)

and in small screen width (arbitrarily <600px):
|----------.list ------------|
|    xxx .list-title xxx     |
|    xxx .list-about xxx     |
| |---- .list-container ---| |
| | |---- .list-item ---|  | |
| | |-------------------|  | |
| |                        | |
| | |---- .list-item ---|  | |
| | |-------------------|  | |
| |                        | |
| | |---- .list-item ---|  | |
| | |-------------------|  | |
| |------------------------| |
|----------------------------|

|----------.list ------------|
|    xxx .list-title xxx     |
|    xxx .list-about xxx     |
| |---- .list-container ---| |
| | |---- .list-item ---|  | |
| | |-------------------|  | |
| |------------------------| |
|----------------------------|

 */


.list {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    margin: 2rem 1rem;
}

.list-title {
    margin: 0.5em 1em;
    font-size: 2rem;
    color: var(--col-1);
}

.list-about {
    margin: 0.5em 1em;
    font-style: italic;
    color: var(--col-intro);
}


.list-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.list-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    border: 0.15rem solid var(--col-1);
    border-radius: 0.5rem;
    padding: 0.6rem;

    margin: 1rem 2rem;
}

.list-item-title {
    font-size: 1.5rem;
}

.list-content-vertic {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}



@media all and (min-width: 600px) {
    .list-title,
    .list-about { text-align: left }

    .list-container {
        flex-direction: row;
        justify-content: flex-start;
    }
}

